
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<style>
    body {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: #004E64;
    }


    .h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: #004E64;
    }

    .obiettivo {
        margin-block: 100px;
    }

    .imgSto:hover {
        transform: translateY(-10px);
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1), -4px -4px 12px rgba(0, 0, 0, 0.08);
        transition: all 0.3s;
    }

 
   
    
</style>

<div class="row">
    <div class="col-md-6">
        <div>
            <div>
                <p class="h2">La Nostra Storia</p>
                <p>Il nostro storico negozio di prodotti locali siciliani ha radici profonde nel tessuto della nostra comunità. Da generazioni, abbiamo preservato le tradizioni culinarie uniche della Sicilia, offrendo ai nostri clienti esperienze gastronomiche autentiche e di alta qualità.</p>
                <p>Attraverso gli anni, abbiamo coltivato relazioni strette con i piccoli produttori locali, valorizzando la loro passione e dedizione nel coltivare e produrre i migliori ingredienti che la nostra terra ha da offrire.</p>
                <p>Ogni prodotto sulle nostre scaffalature racconta una storia di maestria artigianale e di amore per la tradizione, trasmettendo l'essenza stessa della cultura siciliana ai nostri clienti in tutto il mondo.</p>

            </div>
            <div class="obiettivo">
                <p class="h2">Il Nostro Obiettivo</p>
                <p>Noi ci poniamo un ambizioso obiettivo: risolvere uno dei problemi più pressanti che affliggono i piccoli produttori locali. Troppo spesso, questi produttori si trovano esclusi dal mercato globale, costretti a fare affidamento su intermediari che sfruttano e deprezzano il loro lavoro.</p>
                <p>Il nostro obiettivo è creare un volano sano ed efficiente che consenta ai piccoli produttori locali di accedere al mercato globale in modo più diretto e proficuo. Vogliamo rompere le barriere che impediscono loro di esporre i loro prodotti straordinari al mondo intero, garantendo loro una piattaforma equa e sostenibile per far crescere i loro affari.</p>
                <p>Siamo impegnati a promuovere la giustizia sociale ed economica, creando connessioni autentiche tra i produttori locali e i consumatori consapevoli, affinché tutti possano beneficiare del valore unico dei prodotti locali siciliani.</p>
            </div>
        </div>
    </div>
    <div class=" col-6">
        
        
        
        
        
        <div>
            <img class="imgSto" src="~/Content/Immagini/FruttaeVerdura.jpg" alt="Store" style="width:500px;" />
        </div>

        <div>
            <img class="imgSto" src="~/Content/Immagini/produttore-consumatore.jpg" alt="EquoSolidlae" style="width:500px; margin-top:73px;" />
        </div>
    </div>
</div>


